<!DOCTYPE html>
<html>
<head>
    <title>Algunas Sesiones de Biodanza</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="corazon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
    
    <script src="navbar.js"></script>
    <style>
      .autor      {color: crimson; font-weight: bold}
      .cancion    {color: darkslateblue; font-weight: bold}
      .desc       {color: green; font-weight: bold}
      .consigna   {color: orangered}
    </style>
</head>
<script>
var generateData = function(){
    var resultado = [
	{
            id:23, 
            pagina:`sesiones/loQueAceptasTeTransforma.html`, 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkkEkjV6kjh1skhgZkkjf16jld1ukzs7kjxa0shcpkotzoktrl&tema=Transformaci%C3%B3n%2C%20igual%20a%20evoluci%C3%B3n&autor=Francisco%20Su%C3%A1rez`,
            descripcion: `2021/12/08; Lo que aceptas te transforma; Francisco SUÁREZ`, 
            danzas: `RONDA DE INICIACIÓN, BA05-07; CAMINAR ENTRANDO EN CONTACTO CON EL RITMO, JE02-18; DANZA DE LA LIBERTAD EN VÍNCULO, NE02-14; CAMINAR POR LA LÍNEA IMAGINARIA, IBF06-08; LUZ Y SOMBRA, BA66-20; DANZA DE OTOÑO, IBF14-19; DANZA DE LA SEMILLA, IBF17-07; PROTEGER LA VIDA, BA33-09; RONDA DE ACTIVACIÓN LENTA, BA31-05; RONDA FINAL, IBF03-03`	
        },
	{
            id:22, 
            pagina:`sesiones/miVidaEnLosRecuerdos.html`, 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkkZkjXfhjhVukhghuojfgkdkd1iklspjkzaMkkxpNukcoCgjxiktel&tema=Mi%20vida%20en%20los%20recuerdos&autor=Francisco%20Su%C3%A1rez`,
            descripcion: `2021/12/01; Mi vida en los recuerdos; Francisco SUÁREZ`, 
            danzas: `RONDA DE INICIACIÓN, SC01-04; CAMINAR, BA56-20; ULA ULA, JE01-17; SINCRONIZACIÓN RÍTMICA EN PARES, IBF08-03; RESPIRACIÓN DANZANTE, BA22-06; DANZA DE LAS MANOS, BA26-14; INTEGRACIÓN CENESTÉSICA DE LOS TRES CENTROS, IBF12-12; ABRIR EL CORAZÓN, BA25-12;DANZA DE RECUERDOS FELICES, BA10-02; OJOS DE AGUILA, JE04-16; RONDA FINAL,BA73-22`	
        },
	{
            id:21, 
            pagina:`sesiones/elementosQueDanVidaNosDefinenYNosMotivan.html`, 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkkekjXfjjhh1ghg5kfjf5jjkd5ggzs9jgxa5hjcpNtkxoohqzikuyl&tema=Elementos%20que%20dan%20vida%2C%20nos%20definen%20y%20nos%20motivan&autor=Francisco%20Su%C3%A1rez`,
            descripcion: `2021/11/17; Elementos que dan vida, nos definen y nos motivan; Francisco SUÁREZ`, 
            danzas: `RONDA DE INICIACIÓN, IBF04-10; CAMINAR, BA35-09; DANZA EN EL CENTRO DE LA RONDA, IBF08-06; DANZA DE LA TIERRA, IBF07-12; DANZA DEL FUEGO, IBF19-07; DANZA DEL AIRE, IBF07-23; EXPANSIÓN, IBF16-18; DANZA DEL AGUA, IBF17-06; DANZAR LA PROPIA EXISTENCIA, BA66-04; ENCUENTRO CON ABRAZO, BA20-03; RONDA DE CELEBRACIÓN, IBF03-05`
        },
	{
            id:20, 
            pagina:`rompiendoEstructuras.html`, 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkkhkjjjajhhekhghwijfh4skdsjjlsshhzaMkkxpyhkcoojdxiohozukt5l&tema=Rompiendo%20estructuras&autor=Dayana%20y%20Francisco%20SUAREZ`,
            descripcion: `2021/09/30; Rompiendo estructuras; Dayana y Francisco SUÁREZ`, 
            danzas: `RONDA DE INICIACIÓN, IBF01-18; MARCHA FISIÓLOGICA, IBF04-13; LIBERACIÓN DEL MOVIMIENTO, IBF07-09; DANZA RÍTMICA, BA48-01; DESPLAZAMIENTO CON LEVEDAD, BA45-09; MOVIMIENTO SEGMENTARIO DE CUELLO, IBF09-01; MOVIMIENTO SEGMENTARIO DE HOMBROS, IBF09-03; ABRIR EL CORAZÓN, BA25-12; DANZA YIN, IBF17-15; ENCUENTRO DE MANOS Y MIRADAS, IBF11-08; ENCUENTRO CON ABRAZO, BA75-22; RONDA FINAL, BA26-03`
        },
	{
            id:19, 
            pagina:``, 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkkrkjjshjhhMhhghyfjffkkkdfjklsfddzarjkxp0hkco0skvikshcu4okzyktil&tema=Conservando%20y%20cuidando%20la%20vida%20que%20hemos%20creado&autor=Annerys%2C%20Dayana%2C%20Marisabel%20y%20Francisco`,
            descripcion: `2021/02/04; Conservando y cuidando la vida que hemos creado; Annerys, Dayana, Marisabel y Francisco`, 
            danzas: `RONDA DE INICIACIÓN, IBF01-14; MARCHA ALEGRE, IBFC21-07; DANZA CON INTENSIDAD, IBF08-06; SINCRONIZACIÓN MELÓDICA EN PARES, IBFC21-13; FLUIDEZ : SERIE I, IBF09-11; FLUIDEZ : SERIE II, IBF09-12; DANZA LIBRE DE FLUIDEZ, IBF09-05; DANZA DE LA CONSERVACIÓN Y EL MITO DE VISHNU, IBF17-04; INTIMIDAD, IBF01-20; PROTEGER LA VIDA, IBF17-16; RONDA DE MECIMIENTO, IBF11-08; DANZA DE ACTIVACIÓN EN PARES, IBF02-17; RONDA FINAL, IBF01-13`
        },
	{
            id:18, 
            pagina:``, 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkk2kjjkhjhhwjhghyfjfshjkdsjglsfdjza0jjxp0hgcoohgxi4pkzuktuk&tema=Danzar%20y%20abrazar%20%20la%20vida&autor=Behomar%20Rojas`,
            descripcion: `2021/07/27; Danzar y abrazar la vida; Behomar Rojas`, 
            danzas: `RONDA DE INICIACIÓN, IBF04-17; MARCHA SINÉRGICA, IBF08-01; DANZA RÍTMICA, IBF07-09; SINCRONIZACIÓN MELÓDICA EN PARES, IBFC21-13; MOVIMIENTO SEGMENTARIO DE HOMBROS, IBF09-01; MOVIMIENTO SEGMENTARIO DE CUELLO, IBF02-01; DANZA LIBRE DE FLUIDEZ, IBF17-10; CONEXIÓN CON EL INFINITO, SC09-15; INTIMIDAD, IBF11-14; ENCUENTRO CON ABRAZO, IBF10-12; ACTIVACIÓN PROGRESIVA, IBF02-05; RONDA FINAL, IBF03-16`
        },
	{
            id:17, 
            pagina:`sesiones/alMirarteMeEncuentro.html`, 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkk7kjjkajhhuihghiyjffkkkdfjklsV3kza0skxp0hgcoNtkxiohdzuktil&tema=Al%20mirarte%20me%20encuentro&autor=Dayana%20y%20Francisco%20SU%C3%80REZ`,
            descripcion: `2021/08/04; Al mirarte me encuentro; Dayana y Francisco SUÁREZ`, 
            danzas: `RONDA DE INICIACIÓN, IBF04-02; MARCHA SINÉRGICA, IBF04-13; SINCRONIZACIÓN RÍTMICA EN PARES, IBF05-05; COORDINACIÓN RÍTMICA EN PARES, IBFC20-05; FLUIDEZ : SERIE I, IBF09-11; FLUIDEZ : SERIE II, IBF09-12; ESCRIBE TU PROPIO NOMBRE EN EL AIRE, JE03-16; PROTEGER LA VIDA, IBF17-16; INTIMIDAD, IBF11-14; DANZAR LA PROPIA EXISTENCIA, BA66-04; ENCUENTRO CON ABRAZO, IBF10-11; RONDA FINAL, IBF01-13`
        },
	{
            id:16, 
            pagina:``, 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkkakjjjojhhgshghu0jffjhkdfdjlsshhza0djxp0hgcoNpkxiohpzuktwl&tema=El%20arte%20de%20danzar%20la%20vida%2F&autor=Behomar%20y%20Annerys`,
            descripcion: `2021/08/11; El arte de danzar la vida; Behomar y Annerys`, 
            danzas: `RONDA DE INICIACIÓN, IBF01-16; MARCHA FISIÓLOGICA, SC02-05; JUEGOS DE VITALIDAD Y DE SAMBA EN GRUPO, IBF05-20; SINCRONIZACIÓN RÍTMICA EN PARES, IBF06-22; FLUIDEZ : SERIE II, IBF09-15; DANZA LIBRE DE FLUIDEZ, IBF17-10; MOVIMIENTO SEGMENTARIO DE HOMBROS, IBF09-03;RECIBIR, IBF17-05; INTIMIDAD, IBF11-14; DANZA DE LA ABUNDANCIA COMPARTIDA, BA74-08; ENCUENTRO CON ABRAZO, SC10-06; RONDA FINAL, BA48-14`
        },
	{
            id:15, 
            pagina:``, 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkkZkjjjdjhVykhghrpjfXjjkdshflssghzaipgxp0hfcoNtkxioakzuktql&tema=clase%2025%20agosto&autor=Rolaidy%20y%20Stefany`,
            descripcion: `2021/08/25; Clase 25 de Agosto; Rolaydi y Stefany`, 
            danzas: `RONDA DE INICIACIÓN, SC01-04; MARCHA FISIÓLOGICA, IBF06-13; UN DOS TRES CUATRO, JE02-08; DANZA EN PARES CON RITMOS TROPICALES, IBF05-08; CAMINAR ENAMORADO DE LA VIDA, BA68-07; MOVIMIENTO SEGMENTARIO DE HOMBROS, IBF09-13; MOVIMIENTO SEGMENTARIO DE PECHO-BRAZOS, IBF09-03; CARICIAS DE LAS PROPIAS MANOS, IBF11-11; INTIMIDAD, IBF10-21; DANZAR LA PROPIA EXISTENCIA, BA66-04; ENCUENTROS DIVERSOS, IBF12-05; RONDA FINAL, BA68-16`
        },
	{
            id:14, 
            pagina:``, 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkk3kjjksjhhgshghitjfV0kkdfjklsfdozaMkkxp0sjcoNtkxiohizukt8l&tema=&autor=Marysabel`,
            descripcion: `2021/09/01; ; Marysabel`, 
            danzas: `RONDA DE INICIACIÓN, IBF05-04; MARCHA SINÉRGICA, IBF06-06; JUEGOS DE VITALIDAD Y DE SAMBA EN GRUPO, IBF05-20; COORDINACIÓN RÍTMICA EN PARES, IBFC21-07; ABANICO CHINO, JE02-05; FLUIDEZ : SERIE II, IBF09-12; DANZA LIBRE DE FLUIDEZ, SC06-14; ABRIR EL CORAZÓN, BA25-12; PROTEGER LA VIDA, IBF17-05; DANZAR LA PROPIA EXISTENCIA, BA66-04; ENCUENTRO CON ABRAZO, BA31-09; RONDA FINAL, BA39-09`
        },
	{
            id:13, 
            pagina:``, 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkkPkjjsgjhVNjhgh4fjffjhkd1ijlsfdkzaMkkxp0hhco1ujxi7ggzukt8l&tema=Biodanza%20como%20forma%20de%20resistencia&autor=Rolaidy%20y%20Stefany`,
            descripcion: `2021/09/29; Biodanza como forma de resistencia; Rolaidy y Stefany`, 
            danzas: `RONDA DE INICIACIÓN, BA34-18; MARCHA ALEGRE, SC02-07; ESPEJOS EN RONDA, JE05-19; DESPLAZAMIENTO CON LEVEDAD, IBF07-19; FLUIDEZ : SERIE II, IBF09-15; DANZA DE LAS MANOS, BA57-13; DANZA LIBRE DE FLUIDEZ, IBF09-03; ABRIR EL CORAZÓN, BA25-12; INTIMIDAD, IBF17-16; DANZA DE OTOÑO, BA09-07; DAR Y RECIBIR LA FLOR, BA09-10; RONDA FINAL, BA39-09`
        },
	{
            id:12, 
            pagina:"sesiones/unaSesionDeBiodanzaParaFlorelena.html", 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkk2kjjsjjhCskhghuojfMqkkdfdilsMkkzaMrkxp0hgcoNukxiohizuktel&tema=Una%20sesi%C3%B3n%20de%20Biodanza%20para%20Florelena&autor=Ana%20Victoria%2C%20Anneris%2C%20Dayana%2C%20Franca%2C%20Marysabel%2C%20Silvia%2C%20Stefany%2C%20%20Rolaidys%2C%20Rossy%20y%20Francisco`,
            descripcion: `2021/08/24; Una sesion de Biodanza para Florelena; Ana Victoria, Anneris, Dayana, Franca, Marysabel, Silvia, Stefany,  Rolaidys, Rossy y Francisco`, 
            danzas: `RONDA DE INICIACIÓN, IBF04-17; MARCHA ALEGRE, IBF05-02; PASARELA, JE04-19: SINCRONIZACIÓN RÍTMICA EN PARES, IBF08-03; RESONANCIA MELÓDICA, BA65-11; DANZA LIBRE DE FLUIDEZ, SC06-17; EXPRESIÓN DE AMOR INFINITO, BA61-13; ABRIR EL CORAZÓN, BA25-12; INTIMIDAD, IBF11-14; DANZA DE RECUERDOS FELICES, BA10-02; ENCUENTRO CON ABRAZO, BA31-09; RONDA FINAL, BA73-22`
        },
	{
            id:11, 
            pagina:"sesiones/visitandoLaJungla.html", 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkkRkjjsdjhhwuhgfgdjfXgkkdtjklstgkzathjxpNgkcoNdkxiofhzukt1l&tema=Visitando%20la%20jungla&autor=Francisco%20Su%C3%A1rez`,
            descripcion: `2021/11/10; Visitando la jungla; Francisco Suárez`, 
            danzas: `RONDA DE INICIACIÓN, BA25-05; MARCHA ALEGRE, BA08-01; DANZA RÍTMICA, BA22-03; DANZA DE FLUIDEZ CON IMAGENES, IBF07-15; CAMINAR TRIBAL, BA73-07; DANZA DEL TIGRE, IBF15-03; DANZA DE LA GARZA, IBF19-18; DANZA DEL HIPOPÓTAMO, IBF15-05; CONEXIÓN CON LOS ANCESTROS, BA36-01; DANZA A LAS ESTRELLAS, BA57-12; ENCUENTROS TRASCENDENTES, IBF10-20; RONDA FINAL, BA68-19`
        },
        {
            id:10, 
            pagina:"sesiones/elCaosComoImpulsoDeVida.html", 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkkYkjjsjjh18khghesjfykfkdfggls8gkza8sjxpyhkcoohixiktql&tema=El%20caos%20como%20impulso%20de%20vida&autor=Francisco%20Su%C3%A1rez`,
            descripcion: `2021/11/03; El caos como impulso de vida; Francisco Suárez`, 
            danzas: `RONDA DE INICIACIÓN, BA73-16; MARCHA ALEGRE, IBF05-02; JUEGO SIN INSTRUCCIONES, NE01-17; LIBERACIÓN DEL MOVIMIENTO, IBF07-11; DANZA YANG, IBF15-11; DANZA DE FLUIDEZ CON IMÁGENES, IBF17-01; INSPIRACIÓN, IBF17-15; ILUMINACIÓN, IBF11-14; DANZA YIN, IBF17-15; ENCUENTRO CON ABRAZO, BA31-09; RONDA FINAL, BA68-16`
        },
        {
            id:9, 
            pagina:"sesiones/laVidaEsUnaCancion.html", 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkkUkjXhkjhh6shghikjfsjjkdshhlssgfzayhkxp0hgcoNtkxiokdzukudl&tema=La%20vida%20es%20una%20canci%C3%B3n&autor=Dayana%20Su%C3%A1rez`,
            descripcion: `2021/10/20; La vida es una Canción; Dayana Suárez`, 
            danzas: `RONDA DE INICIACIÓN, BA73-13; CAMINAR VITAL, BA78-04; VARIACIONES RÍTMICAS, IBF05-20; COORDINACIÓN RÍTMICA EN PARES, IBF06-12; MOVIMIENTO SEGMENTARIO DE CUELLO, IBF09-01; MOVIMIENTO SEGMENTARIO DE HOMBROS, IBF09-03; MOVIMIENTO SEGMENTARIO DE PECHO-BRAZOS, IBF09-18; DANZA YIN, IBF17-15; INTIMIDAD, IBF11-14; DANZAR LA PROPIA EXISTENCIA, BA66-04; ENCUENTRO FUGAZ, IBF10-11;  RONDA DE CELEBRACIÓN, IBF03-01`
        },
        {
            id:8, 
            pagina:"sesiones/evocandoLosAfectos.html", 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkkrkjjkkjhV1jhghu7jffkhkdfdklsgkjza0hhxp0sjcoohwxihCjzukt9l&tema=Evocando%20los%20Afectos&autor=Dayana%20y%20Francisco%20SU%C3%81REZ`,
            descripcion: `2021/09/15; Evocando los Afectos; Dayana y Francisco SUÁREZ`, 
            danzas: `RONDA DE INICIACIÓN, IBF01-14; MARCHA SINÉRGICA, IBF06-01; ESPEJO CON MOVIMIENTOS DEL CUERPO, IBF04-16; SINCRONIZACIÓN RÍTMICA EN PARES, BA60-06; FLUIDEZ : SERIE I, IBF09-12; DANZA LIBRE DE FLUIDEZ, IBF09-03; RESPIRACIÓN DANZANTE, IBF17-01; INTIMIDAD, BF17-16; PROTEGER LA VIDA, IBF17-05; ENCUENTROS CON ABRAZOS, BA60-13; DANZA DE EXPRESIÓN AFECTIVA, IBF01-07; RONDA FINAL, BA59-06`
	},
        {
            id:7, 
            pagina:"sesiones/caminoALoSublime.html", 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkk5kjjjajhh6dhgh4hjfhyekdfkklsfddzagkjxp0jkcoohfxi4gwzuktul&tema=Camino%20a%20lo%20Sublime&autor=Dayana%20y%20Francisco%20SU%C3%81REZ`,
            descripcion: `2021/03/09; Camino a lo Sublime; Dayana y Francisco SUÁREZ`, 
            danzas: `RONDA DE INICIACIÓN, IBF01-13; MARCHA FISIOLÓGICA, IBF04-13; VARIACIONES RÍTMICAS, IBF07-06; DESPLAZAMIENTO CON LEVEDAD, IBF07-24; SINCRONIZACIÓN MELÓDICA EN PARES, IBF07-20; FLUIDEZ: SERIE I, IBF09-11; DANZA LIBRE DE FLUIDEZ, IBF09-05; RESPIRACIÓN DANZANTE, IBF17-01; CONEXIÓN CON EL INFINITO, IBF18-01; ENCUENTRO CON ABRAZOS, IBF10-14; DANZA EN PARES, IBF04-10; RONDA FINAL, IBF03-16`
	},
        {
            id:6, 
            pagina:"sesiones/vivaLaVida.html", 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkkgkjjjfjhhMohghiwjfsjjkdshhlssgfzayhkxp0hgco4pkxiokdzukudl&tema=Viva%20la%20vida&autor=Dayana%20y%20Francisco%20SU%C3%81REZ`,
            descripcion: `2021/03/17; Viva la vida; Dayana y Francisco SUÁREZ`, 
            danzas: `RONDA DE INICIACIÓN, IBF01-12; MARCHA FISIOLÓGICA, IBF06-03; DANZA CON INTENSIDAD, IBF08-08; COORDINACIÓN RÍTMICA EN PARES, IBFC20-04; MOVIMIENTO SEGMENTARIO DE CUELLO, IBF09-01; MOVIMIENTO SEGMENTARIO DE HOMBROS, IBF09-03; MOVIMIENTO SEGMENTARIO DE PECHO-BRAZOS, IBF09-18; DANZA YIN, IBF17-15; INTIMIDAD, IBF11-14; ACTIVACIÓN PROGRESIVA, IBF02-05; ENCUENTRO FUGAZ, IBF10-11; RONDA DE CELEBRACIÓN, IBF03-01`
	},
        {
            id:5, 
            pagina:"sesiones/floreceLaPrimaveraDeTuVida.html", 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkk4kjjjhjhhekhghLkjffdokdhFfls8skza8fkxp7kjcoohpziktrl&tema=Florece%20la%20primavera%20de%20tu%20vida&autor=Dayana%20y%20Francisco%20SU%C3%81REZ`,
            descripcion: `2021/03/25; Florece la primavera de tu vida; Dayana y Francisco SUÁREZ`, 
            danzas: `RONDA DE INICIACIÓN, IBF04-01; MARCHA FISIOLÓGICA, IBF08-01; LIBERACIÓN DEL MOVIMIENTO, IBF07-09; DANZAR PARA EL OTRO, IBF06-12; DANZA LIBRE DE FLUIDEZ, SC06-14; DANZA DE EXTENSION ARMONICA, IBF12-18; ILUMINACIÓN, IBF17-16; RECIBIR LA GRACIA, IBF11-14; DANZA DE LA SEMILLA, IBF17-07; ENCUENTRO CON ABRAZOS, SC10-06; RONDA FINAL, IBF03-03`
	},
        {
            id:4, 
            pagina:"sesiones/corajeExistencial.html", 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkkLkjjkojhjfkhgwffjftjkkdh4slsMjkzaMkkxp0hgcoNtkxiohozuktwl&tema=Coraje%20Existencial&autor=Dayana%20y%20Francisco%20SU%C3%81REZ`,
            descripcion: `2021/04/05; Coraje Existencial; Dayana y Francisco SUÁREZ`, 
            danzas: `RONDA DE INICIACIÓN, BA19-15; MARCHA SINÉRGICA, BA19-04; MARCHA CON DETERMINACIÓN, IBF06-05; CONEXIÓN CON LA PROPIA FUERZA, BA04-05; DANZA DEL TIGRE, IBF15-03; DESPLAZAMIENTO CON LEVEDAD, BA45-09; ABRIR PUERTAS, BA27-01; ABRIR EL CORAZÓN, BA25-12; INTIMIDAD, IBF11-14; DANZAR LA PROPIA EXISTENCIA, BA66-04; ENCUENTRO CON ABRAZOS, BA75-22; RONDA FINAL, BA48-14`
	},
        {
            id:3, 
            pagina:"sesiones/crearYConservarLoMaravillosoEnMiVida.html", 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkk7kjjkfjhVyhhgfhkjffgfkdsgdls8skza8gkxp0hgcorjkxiohyzukt0l&tema=Crear%20y%20conservar%20lo%20maravilloso%20en%20mi%20vida&autor=Dayana%20y%20Francisco%20SU%C3%81REZ`,
            descripcion: `2021/04/12; Crear y conservar lo maravilloso en mi vida; Dayana y Francisco SUÁREZ`, 
            danzas: `RONDA DE INICIACIÓN, IBF04-02; MARCHA SINÉRGICA, IBF06-03; JUEGO DE EXPRESIONES, IBF05-20; FLUIDEZ SERIE III, IBF09-11; FLUIDEZ CON IMÁGENES, IBF09-05; SEGMENTARIO DE PECHO-BRAZO, IBF11-07; ILUMINACIÓN, IBF17-16; INSPIRACIÓN, IBF17-15; INTIMIDAD, IBF11-14; DANZA DE LA CONSERVACIÓN Y EL MITO DE VISHNU, IBF17-04; ENCUENTRO CON ABRAZOS, BA31-11; RONDA FINAL, BA22-01`
	},
        {
            id:2, 
            pagina:"sesiones/delOtonioALaPrimavera.html", 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkkSkjjdjjhVukhg3hkgf13khdhGhksMhkza0hkxp1ujcoNtkxiohizuktql&tema=Del%20oto%C3%B1o%20a%20la%20primavera&autor=Dayana%20y%20Francisco%20SU%C3%81REZ`,
            descripcion: `2021/04/19; Del otoño a la primavera; Dayana y Francisco SUÁREZ`, 
            danzas: `RONDA DE INICIACIÓN, BA75-02; MARCHA SENSUAL, SC02-09; BAMBOLÉ, JE01-17; DANZA DE EMPODERAMIENTO, SBE01-05; SUEÑOS Y CONQUISTA, BA51-01; DANZA DE EXTENSIÓN MÁXIMA, IBF08-17; ABRIRSE AL UNIVERSO DEL OTRO, BA10-12; INTIMIDAD, IBF01-20; DANZA DE OTOÑO, BA09-07; DANZAR LA PROPIA EXISTENCIA, BA66-04; ENCUENTRO CON ABRAZOS, BA31-09; RONDA FINAL, BA68-16`
	},
        {
            id:1, 
            pagina:"sesiones/proyectandoLaLuzDeMiAmorInfinito.html", 
	    enlace:`https://suarezfco65.github.io/amobiodanza/ejecutar.html?danzas=kkkAkjjkpjhVNjhghSkjfV3kkdMkklsiodza0jjxpMrkcoXjkxiohuzukt9l&tema=Proyectando%20la%20luz%20de%20mi%20amor%20infinito&autor=Dayana%20y%20Francisco%20SU%C3%81REZ`,
            descripcion: `2021/04/26; Proyectando la luz de mi amor infinito; Dayana y Francisco SUÁREZ`, 
            danzas: `RONDA DE INICIACIÓN, BA68-17; MARCHA SINÉRGICA, IBF06-22; ESPEJOS EN RONDA, JE05-19; DANZA DE BRAZOS SENSIBLES, IBF09-03; ESCRIBE TU PROPIO NOMBRE EN EL AIRE, JE03-16; ABRIR EL CORAZÓN, BA25-12; CARICIAS DEL PROPIO CUERPO, BA31-06; CONEXIÓN CON EL INFINITO, SC09-15; EXPRESIÓN DE AMOR INFINITO, BA61-13; CAMINAR ENAMORADO DE LA VIDA, BA13-08; ENCUENTRO CON ABRAZOS, BA65-08; RONDA FINAL, BA59-06`
	}
    ];
    return  resultado;
}
</script>
<body>
<script>crearNavBar('Yo<span style="color:red">❤</span>Biodanza', 'Algunas Sesiones')</script>

<div class="container" ng-app="">
<h3 style="color:red; font-weight: bold;margin-top:70px">Algunas Sesiones de Biodanza</h3>
        
<script>inicioContenido('IMPULSO Y FULGOR PARA FACILITAR BIODANZA', 4, 'OP-RL', false)</script>
<p>Días agitados, así transcurrieron nuestra clases supervisadas, en total 8 sesiones, una por semana.  Para cada de una de estas sesiones que se fueron preparando, conté con la gran suerte de compartir esta responsabilidad con mi compañera de clases, muy disciplinada y metódica, Dayana Suárez, quien amablemente presto su casa para las reuniones preparatorias de la clase, y para desde allí impartir la clase via ZOOM; ambos con el mismo apellido, nos hacíamos llamar “Suárez-biocentric”</p>
<center><img class='img-responsive' style='width:50%;' src="dayanaFrancisco1.jpg"></center>	
<p>Los días transcurrían rápido, no habíamos recibido las instrucciones de la próxima clase cuando ya teníamos el día encima para darlas, pues la falta de experiencia nos hacía dar muchas vueltas y muchos cambios para decidir las danzas, las músicas, y las consignas.</p>
<center><img class='img-responsive' style='width:100%;' src="dayanaFrancisco7.jpg"></center>		
<p>Tuvimos siempre la suerte de que ambos fuimos muy coordinados al momento de dar cada clase; una danza ella y la siguiente yo; cuando ella estaba mostrando, yo manejaba el computador, y lo contrario.  Siempre recibimos observaciones positivas de los participantes, y de nuestra Maestra; pero también, nuestra querida Florelena, mientras dábamos la clase tomaba notas, para sugerirnos lo que debíamos evitar o mejorar; en lo referido a alguna danza, algún movimiento, música o consigna; siempre en procura de mejorar nuestra ejecución.  En varias oportunidades me sentí agradado, al recibir observaciones positivas dadas por mi maestra Florelena, y también por compañeros, sobre la ejecución y movimientos durante la muestra de algunas de las danzas.  Lo que indicaba una evolución en la motricidad y armonía de mis movimientos.</p>
<p>Estas clases supervisadas, fueron muy particulares, ya que se tuvieron que dar a distancia y vía Internet, con la herramienta ZOOM, la cual tiene algunas pocas ventajas y algunas desventajas. Entre las ventajas está que la atención se focaliza en quien en ese momento tiene la palabra; las desventajas es que al no ser presencial se reducen las opciones de danzas, principalmente, aquellas que implican contacto o caricias; otra desventaja es que en muchos casos algunos compañeros tenían mala conexión, lo cual les impedía ver la clase en su totalidad, y en oportunidades a nosotros mismo, al impartir la clase, habían algunas interferencias por problemas de conectividad.</p>
<script>finContenido();</script>

  <div ng-controller="initApp">
    <div class="row">
      <div class="col-md-3">
        <div class="input-group input-group-lg add-on">
          <input type="text" class="form-control search-query" ng-model="query" ng-change="search()" placeholder="Buscar">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
      	<h4 class="text-center"></h4>
      </div>
      <div class="col-md-3">
        <select class="form-control input-lg pull-right" ng-model="itemsPerPage" ng-change="perPage()" ng-options="('Mostrar '+size+' por página') for size in pageSizes"></select>
      </div>
    </div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4 id="myModalLabel">{{itemMostrar.danza}}</h4>
	</div>
	<div class="modal-body">
        <p><b>Objetivo: </b>{{itemMostrar.objetivo}}</p>
        <p><b>Descripcion: </b>{{itemMostrar.descripcion}}</p>
        <p><b>Línea de Vivencia: </b>{{itemMostrar.linea}}</p>
        <p><b>Evolución en la Curva: </b>{{itemMostrar.evolucion}}</p>
        <p><b>Significado Existencial: </b>{{itemMostrar.significado}}</p>
        <p><b>Efecto Regulador: </b>{{itemMostrar.efecto}}</p>	  
        <p><b>Consigna Sugerida: </b>{{itemMostrar.consigna}}</p>	  
        <p><b>Música: </b>{{itemMostrar.musica}}</p> 
    </div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
<!--		<button class="btn btn-primary">Save changes</button> -->
	</div>
</div>
</div>
</div>
    
    <table class="table table-striped table-hover">
      <thead>
        <tr><td colspan="7">{{sizes}}
            <div class="text-center">
              <ul class="pagination">
                <li ng-class="{disabled: currentPage == 0}">
                  <a href="javascript:;" ng-click="prevPage()">« Prev</a>
                </li>
                <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                  <a href="javascript:;" ng-bind="n + 1">1</a>
                </li>
                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                  <a href="javascript:;" ng-click="nextPage()">Prox »</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <!--        <th class="id"><a ng-click="sort_by('id')">Id <i class="fa fa-sort"></i></a></th> -->
        <th class="Sesion"><a ng-click="sort_by('descripcion')">Sesión <i class="fa fa-sort"></i></a></th>
        <th class="Danzas"><a ng-click="sort_by('danzas')">Danzas<i class="fa fa-sort"></i></a></th>
<!--        <th class="evolucion"><a ng-click="sort_by('evolucion')">Link <i class="fa fa-sort"></i></a></th>
        <th class="field4"><a ng-click="sort_by('field4')">Field 4 <i class="fa fa-sort"></i></a></th>
        <th class="field5"><a ng-click="sort_by('field5')">Field 5 <i class="fa fa-sort"></i></a></th> -->
      </tr>
      </thead>
      <tfoot>
    </tfoot>
      <tbody>
        <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
          <td>
		  <div ng-If="item.enlace!=''">
		  <a href="{{item.enlace}}" target="_blank" role="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-list"></span></a><br>
		  </div>
		  <div ng-If="item.pagina!=''">
		  <a href="{{item.pagina}}" target="_blank" role="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-file"></span></a>
		  </div>
	  </td>
          <td>{{item.descripcion}}</td>
          <td>{{item.danzas}}</td>
<!--          <td><a href="#">{{item.field3}}</a></td>
          <td>{{item.field4}}</td>
          <td>{{item.field5}}</td>
          <td><a href="#" ng-click="deleteItem($index)">x</a></td> -->
<!--            <td><a href="#myModal" role="button" class="btn btn-success btn-xs" data-toggle="modal" ng-click="mostrarItem(item.id)"><i class="fa fa-book"></i></a></td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
    
    </body>
</html>
<script>
    
var sortingOrder = 'descripcion'; //default sort

function initApp($scope, $filter) {
 
  // init
  $scope.sortingOrder = sortingOrder;
  $scope.pageSizes = [5,10,25,50];
  $scope.reverse = true;
  $scope.filteredItems = [];
  $scope.groupedItems = [];
  $scope.pagedItems = [];
  $scope.currentPage = 0;
  $scope.items = generateData();
  const entre10 = ""+(Math.round($scope.items.length / 10));
  $scope.itemsPerPage = Number(entre10.substr(0,1)+'000000000'.substr(0,entre10.length-1))
  $scope.pageSizes.push($scope.itemsPerPage);
  $scope.itemMostrar = {};

  var searchMatch = function (haystack, needle) {
    if (!needle) {
      return true;
    }
    if (typeof haystack == "string")
      return haystack.toLowerCase().indexOf(needle.toLowerCase()) !== -1
    else return false;
  };

  //
  $scope.play = function  (codigo)  {
    playMusic(codigo);
  }
  // init the filtered items
  $scope.search = function () {
    if ($scope.query == undefined) $scope.query = "";
    var query = $scope.query.split(' ');
    $scope.filteredItems = $filter('filter')($scope.items, function (item) {
      resultado = true;
      for (var i=0; i<query.length; i++)  {
        res = false;
        for(var attr in item) {
          if ('*descripcion*danzas*'.indexOf(attr) !== -1 ) {
            var iguales = query[i].split('/');
            for (var j=0; j<iguales.length; j++)
              iguales[j]="searchMatch(item[attr],'"+iguales[j]+"')";
            iguales = iguales.join(' || ');
            if (eval(iguales))
              res = true;
          }
        }
        resultado = resultado && res;
      }
      return resultado;
    });
    // take care of the sorting order
    if ($scope.sortingOrder !== '') {
      $scope.filteredItems = $filter('orderBy')($scope.filteredItems, $scope.sortingOrder, $scope.reverse);
    }
    $scope.currentPage = 0;
    // now group by pages
    $scope.groupToPages();
  };
  
  // show items per page
  $scope.perPage = function () {
    $scope.groupToPages();
  };
  
  // calculate page in place
  $scope.groupToPages = function () {
    $scope.pagedItems = [];
    
    for (var i = 0; i < $scope.filteredItems.length; i++) {
      if (i % $scope.itemsPerPage === 0) {
        $scope.pagedItems[Math.floor(i / $scope.itemsPerPage)] = [ $scope.filteredItems[i] ];
      } else {
        $scope.pagedItems[Math.floor(i / $scope.itemsPerPage)].push($scope.filteredItems[i]);
      }
    }
  };
  
   $scope.deleteItem = function (idx) {
        var itemToDelete = $scope.pagedItems[$scope.currentPage][idx];
        var idxInItems = $scope.items.indexOf(itemToDelete);
        $scope.items.splice(idxInItems,1);
        $scope.search();
        
        return false;
    };
    $scope.mostrarItem = function (idx) {
        for (var i=0; i<$scope.items.length;i++) if ($scope.items[i].id == idx) $scope.itemMostrar = $scope.items[i];
    }
  
  $scope.range = function (start, end) {
    var ret = [];
    if (!end) {
      end = start;
      start = 0;
    }
    for (var i = start; i < end; i++) {
      ret.push(i);
    }
    return ret;
  };
  
  $scope.prevPage = function () {
    if ($scope.currentPage > 0) {
      $scope.currentPage--;
    }
  };
  
  $scope.nextPage = function () {
    if ($scope.currentPage < $scope.pagedItems.length - 1) {
      $scope.currentPage++;
    }
  };
  
  $scope.setPage = function () {
    $scope.currentPage = this.n;
  };
  
  // functions have been describe process the data for display
  $scope.search();
 
  
  // change sorting order
  $scope.sort_by = function(newSortingOrder) {
    if ($scope.sortingOrder == newSortingOrder)
      $scope.reverse = !$scope.reverse;
    
    $scope.sortingOrder = newSortingOrder;
  };

};

initApp.$inject = ['$scope', '$filter'];

</script>
