<!DOCTYPE HTML>
<html>
<head><title>Biodanza - Preparación de Sesión</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="documento.js"></script>
    <script src="dir.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>// https://www.w3schools.com/angular/tryit.asp?filename=try_ng_w3css</script>

    <style>
        .highcharts-figure, .highcharts-data-table table {
            min-width: 310px; 
            max-width: 800px;
            margin: 1em auto;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #EBEBEB;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }
        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }
        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }
        .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
            padding: 0.5em;
        }
        .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }
        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }
    </style>
    <script>
    function isMobile ()  {
        if (((navigator.userAgent.match(/Android/i)) ||
            (navigator.userAgent.match(/webOS/i)) ||
            (navigator.userAgent.match(/iPhone/i)) ||
            (navigator.userAgent.match(/iPod/i)) ||
            (navigator.userAgent.match(/iPad/i)) ) == null )
            r = false
        else
            r = true;
        return r
    }
    </script>
</head>
<body>

<div ng-app="myApp" ng-controller="sesionCtrl">

<div class="container">
    <center>
        <img src="logo300x291.png" height="145" width="145"><br>
        <h2>Preparación de Sesión de Biodanza</h2>
    </center>

    <form>
        <div class="input-group mb-3 input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">Tema</span>
            </div>
            <input ng-model="tema" type="text" class="form-control">
        </div>
        <center>
            <table class="table table-sm">
            <thead>
                <tr><th>#</th><th>Danza</th><th>Música</th><th>Curva</th><th>Acciones</th></tr>
            </thead>
            <tbody>
                <tr><td>1</td><td>Ronda de Integración Inicial<br>Milton Nascimento: “Estamos Chegando”.</td><td><script>if (isMobile()) {document.write('<button class="btn"><i class="fa fa-play"></i></button>')} else {document.write('<audio src="" controls></audio>')}</script></td><td>1</td>
                <td><button class="btn"><i class="fa fa-book"></i></button>
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                </td></tr>
                <tr class="table-primary"><td>2</td><td>Marcha fisiológica.<br>Traditional Jazz Band: “Doctor Jazz”</td><td><button class="btn"><i class="fa fa-play"></i></button></td><td>2</td>
                <td><button class="btn"><i class="fa fa-book"></i></button>
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                </td></tr>
                <tr class="table-danger"><td>3</td><td>Coordinación rítmica en parejas, con cambios.<br>Antigua Jazz Band: “El Hombre que Amo”.</td><td><button class="btn"><i class="fa fa-play"></i></button></td><td>3</td>
                <td><button class="btn"><i class="fa fa-book"></i></button>
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                </td></tr>
            </tbody>
            </table>
        </center>

        <div class="form-group">
            <label for="tipoDanza">Tipo de Danza:</label>
            <select ng-model="tipoDanza" ng-options="td.cod as td.nombre for td in tiposDanzas" class="form-control form-control-sm" id="tipoDanza">
            </select>
        </div>
        <div class="form-group">
            <label for="danza">Danza:</label>
            <select ng-model="danza" ng-options="d.cod as d.nombre for d in tiposDanzas[tipoDanza-1].arrDanzas" class="form-control form-control-sm" id="danza">
            </select>
        </div>
        <div class="form-group">
            <label for="danza">Cancion:</label>
            <select ng-model="cancion" ng-options="c.cod as getSong(c.disco,c.pista) for c in tiposDanzas[tipoDanza-1].arrDanzas[danza-1].arrCanciones" class="form-control form-control-sm" id="danza">
            </select>
            <audio  src="{{getAudio(tipoDanza,danza,cancion)}}" controls></audio>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">+ Adrenérgica
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">+ Colinérgica
            </label>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Agregar</button>
        </div>
    </form>
    
</div>
</div>
    
    <figure class="highcharts-figure">
        <div id="container"></div>
    </figure>

</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/draggable/1.0.0-beta.11/sortable.js" integrity="sha512-ugyGVtj1TXNxWBPRJpcYpnd1UxgL33+6hBF0vNzcThDcra9y5gH3yGYkBETQJN8JhlArXLOg2re9hn/sI85FhA==" crossorigin="anonymous"></script>
<script>
    window.onload   =   ()  =>  {
        const sortable  =   new Sortable.default(document.querySelectorAll('tbody'),{
            draggable : 'tr'
        });
    }
</script>

<script>
var app = angular.module('myApp', []);
angular.module('myApp', []).controller('sesionCtrl', function($scope) {
    $scope.tiposDanzas = arrTiposDanzas;
    $scope.canciones = arrayCanciones;
    $scope.getSong  =   function(disco, pista)  {
        if (disco == '00' && pista == 00)
            return "No Aplica";
        var resultado = $scope.canciones.find(song => song.disco===disco && song.pista===pista)
        if (resultado == undefined)
            return "Cancion no encontrada ("+disco+"-"+pista+")"
        else    {
            return resultado.autor+": "+resultado.nombre
        }
    }
    $scope.getAudio  =   function(td, d, c)  {
        var cancion = $scope.tiposDanzas[td-1].arrDanzas[d-1].arrCanciones[c-1];
        var resultado = $scope.canciones.find(song => song.disco===cancion.disco && song.pista===cancion.pista)
        if (resultado == undefined)
            return "Cancion no encontrada ("+cancion.disco+"-"+cancion.pista+")"
        else    {
            return resultado.archivo
        }
    }
    $scope.tipoDanza = 0;
    $scope.danza = 0;
    $scope.cancion = 0;
    $scope.sesion = [
        {id:1, tipoDanza:1, danza:1, cancion:1, curva:1 },
        {id:2, tipoDanza:2, danza:2, cancion:2, curva:2 },
        {id:3, tipoDanza:3, danza:3, cancion:3, curva:3 },
        {id:4, tipoDanza:4, danza:4, cancion:4, curva:2 },
        {id:5, tipoDanza:5, danza:5, cancion:5, curva:1 },
        {id:6, tipoDanza:6, danza:6, cancion:6, curva:0 }
    ];
    $scope.hideform = true;
    $scope.edit = true;
    $scope.error = false;
    $scope.incomplete = false; 
    $scope.editSesion = function(id) {
        $scope.hideform = false;
        if (id == 'new') {
            $scope.edit = true;
            $scope.incomplete = true;
            $scope.tipoDanza = 0;
            $scope.danza = 0;
            $scope.cancion = 0;
            $scope.curva = 0;
        } else {
            $scope.edit = false;
            $scope.tipoDanza = $scope.sesion[id-1].tipoDanza;
            $scope.danza = $scope.sesion[id-1].danza;
            $scope.cancion = $scope.sesion[id-1].cancion;
            $scope.curva = $scope.sesion[id-1].curva;
        }
    };
    $scope.$watch('passw1',function() {$scope.test();});
    $scope.$watch('passw2',function() {$scope.test();});
    $scope.$watch('fName',function() {$scope.test();});
    $scope.$watch('lName',function() {$scope.test();});
    $scope.test = function() {
        if ($scope.passw1 !== $scope.passw2) {
            $scope.error = true;
        } else {
            $scope.error = false;
        }
        $scope.incomplete = false;
        if ($scope.edit && (!$scope.fName.length || !$scope.lName.length || !$scope.passw1.length || !$scope.passw2.length)) {
            $scope.incomplete = true;
        }
    };
})
</script>

<script>
    Highcharts.chart('container', {
        chart: {
            type: 'spline',
            height: 500
        },
        title: {
            text: 'Evolución de Sesión Biodanza'
        },
        subtitle: {
            text: 'Fuente: Grupo 6 Escuela Biodanza Barquisimeto'
        },
        xAxis: {
            categories: ['Inicio', 'Ronda de Inicio', 'Marcha', 'Danza Ritmica', 'Juego', 'D Flui', 'D Flui', 'D Flui', 'D Flui', 'Clave', 'D Activ', 'D Activ','R Final' ]
        },
        yAxis: {
            title: {
                text: 'Colinérgico - + - Adrenérgico'
            },
            labels: {
                formatter: function () {
                    return this.value;
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        series: [{
            name: 'nivel',
            marker: {
                symbol: 'square'
            },
            data: [0, 1, 2, 3, {
                y: 4,
                marker: {
                    color:"red"
//                    symbol: 'url(adrenergico.png)'
                }
            }, 2, 0, -1, -3, {
                y: -4,
                marker: {
                    color:"red"
//                    symbol: 'url(colinergico.png)'
                }
            }, -2, -1, 0]

        }, ]
    });
</script>
