<!DOCTYPE html>
<html lang="en">
<head>
    <title>Yo amo Biodanza</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="corazon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="navbar.js"></script>

</head>
<body>
<script>crearNavBar('Yo<span style="color:red">❤</span>Biodanza', 'Inicio')</script>

<div ng-app="myApp" ng-controller="myController" class="container" style="margin-top:50px">
<h3 style="color:red; font-weight: bold;">Inicio e Introducción</h3> <br>

<script>inicioContenido('¿QUÉ ES LA BIODANZA?', 4, 'QUEES', false)</script>
<p>«Biodanza es un sistema de integración humana, renovación orgánica, reeducación afectiva y reaprendizaje de las funciones originarias de vida en ambiente enriquecido. Su metodología consiste en inducir vivencias integradoras por medio de la música, del canto, del movimiento y de situaciones de encuentro en grupo». <i>Rolando Toro 2002. (Definición académica de Biodanza)</i></p>
<p>«Biodanza es un sistema de aceleración de procesos integrativos a nivel celular, metabólico, neuroendocrino, inmunológico y existencial, mediante ambiente enriquecido, con músicas específicas, movimiento integrado, caricias y encuentro en grupo, que deflagran vivencias integradoras». <i>Rolando Toro 2009. (Ultima actualización a la definición)</i></p>
<div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Yb6BQnQCzJU?rel=0&amp;fs=1&amp;wmode=transparent"></iframe>
</div>
<script>finContenido();</script>
<script>inicioContenido('EN VIAJE A LAS PROFUNDIDADES DE MI SER', 4, 'INTRO', false)</script>
<p>En este trabajo, me permito hablar de mí, no como un acto de ego, lo contrario, se trata de diluirme con Uds., de compartir mi experiencia vivida para mi transformación a la persona que deseo, un ser humano sin límite de lo humano sino como parte de todo lo que me rodea, y con la apertura del corazón a ser consciente de una evolución de vida que involucra principalmente mis sensaciones.</p>
<p>El tema que abordo es la Biodanza, palabra compuesta por el prefijo Bio (del griego vida) y danza (como movimiento integrado lleno de significado, vocablo definido por el Francés Roger Garaudy).  Es un sistema inspirado en fuentes antropológicas y etológicas creado por el maestro Rolando Toro Araneda, quien nació en Concepción (Chile), fue profesor de enseñanza básica, luego antropólogo y psicólogo; además de poeta y pintor.  Rolando Toro inició sus investigaciones con experiencias clínicas a pacientes psiquiátricos para verificar las vivencias que la música podía inducir en estas personas. Llegó a la conclusión de que cada perturbación requiere unos determinados estímulos musicales y que la música tiene un poder curativo capaz de modificar estados físicos y emocionales crónicos.</p>
<p>La investigación se desarrolló en confrontación con la realidad, hasta llegar a la elaboración de un modelo teórico científico, de carácter biológico, que, partiendo del potencial genético inherente a los seres humanos, propone unas líneas de vivencia, o necesidades vitales diferenciadas, que las llamó líneas de Vitalidad, Sexualidad, Creatividad, Afectividad y Trascendencia, que permiten y estimulan el desarrollo de dicho potencial genético.  En resumen, lo que se propone con la Biodanza es que cada persona paulatinamente sea responsable de su propio crecimiento personal, que sea capaz de integrar todos estos aspectos en su vida cotidiana, que pueda crear nuevas motivaciones para vivir y sobretodo que mantenga un estilo de vida basado en la salud y bienestar.</p>
<p>En referencia a mis inicios en Biodanza, entré en contacto por primera vez, en Octubre de 2017, y empecé a incorporarme a su estudio a mitad del año 2018, asistiendo a maratones los fines de semana, donde se desarrollaban temas específicos, que me fueron animando a mi formación como profesor, y dieron paso a iniciar estudios en la Escuela de Biodanza de Barquisimeto, Venezuela. Hoy me encuentro retomando estas vivencias de formación para compartirlas, y que sean propicias para <i>promover la práctica de Biodanza, como vía de transformación profunda, que permite alcanzar estado de salud psico-fisiológico y existenciales para vivir acorde a nuestra naturaleza y en armonía con lo que nos rodea</i>; a través del regalo que recibimos al practicarlo y en donde cada sesión nos convida a una celebración de la vida.</p>
<p>Para lograr resolver la promoción del tema Biodanza voy a <i>demostrar a través de experiencias propias los cambios Psico-fisiológicos importantes ocurridos durante el proceso de formación como profesor de Biodanza; 
también voy a mostrar cómo estos cambios han influido favorablemente en la relación con mi grupo familiar y personas de mi entorno; así también; 
narrar mediante relatos, las vivencias personales de cada temática abordada durante la formación como instructor de biodanza; y por último, 
 presentar en formato web una versión sintetizada acerca de mi experiencia como estudiante de biodanza</i></p>
<p>Este viaje ha servido también para ir descifrando el conocimiento sobre mí, en el que he ido encontrando a mi persona y sus posibilidades, en el que me hago consciente a través de mi cuerpo en movimiento, de una evolución en mi sentir, de mis emociones, y de lo que me rodea. Ha sido todo un proceso de conjunción de actos, donde la comprensión del sentir conlleva a la liberación del cuerpo al danzar la música. Ha sido una apertura para sentir y hacerme sentir genuino con los que interactúo y acompañan en este camino, que es la vida.</p>
<p>Me decidí en presentar esta experiencia en formato Web, ya que fue en este formato donde fui colando junto al contenido de cada clase, mi relato de lo que había aprendido y sentido durante cada uno de estos módulos de formación. Es así, que termina siendo mi cuadernillo de consulta referencial rápida, para todos los conceptos y definiciones que fui cursando a lo largo de estos tres años. Adicionalmente, agregué allí la metodología para impartir clases de Biodanza y tres módulos que ayudan a crear una sesión de clases de Biodanza, a través de una aplicación. Les invito entonces a mi experiencia y con ellas comprender y compartir mis satisfacciones a todo lo largo de este hermoso viaje.</p>
<script>finContenido();</script>
<script>inicioContenido('EN VIAJE A LAS PROFUNDIDADES DE MI SER, BIODANZA', 4, 'POEMA', false)</script>
    <center>
    <p>Estabas en la brújula de mi destino,<br>
    escondida entre sitios y caminos,<br>
    siento mi despegue al profundizar<br>
    delicioso viaje en que marco mi andar.<br>
    Confío en llegar a tu núcleo<br>
    en la aventura infinita de cada amanecer,<br>
    y es que te descubro entre danzas, músicas,<br>
    caricias y deliciosos abrazos de placer.</p>
    <p>Siento tu textura al acercar mi cuerpo,<br>
    mientras me deleito al fluir como un rio.<br>
    Admirando lo profundo del paisaje y su belleza<br>
    transito en placer del calor al frio.</p>
    <p>Siento despertar al amor y mi continente<br>
    donde viajo en segundos<br>
    porque ya he transitado muchas veces<br>
    cada parte de tu mundo.</p>
    <p>
    Siento tu forma, tu esencia, y tu libertad<br>
    en cada viaje que doy, sumido en trance<br>
    de la regresión a mi identidad</p>
    <p style="text-align: right"><i>Francisco Suárez</i></p>
    </center>
<script>finContenido();</script>
</div>

    <!-- The Modal for Agregar o editar danza-->
    <div class="modal fade" id="editModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" ng-show="registrar">Registro</h4>
                <h4 class="modal-title" ng-hide="registrar">Acceder</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <form name="myForm" ng-hide="hideform">

                    <div class="login-container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                <label>Correo</label>
                                <input type="email" name="email" ng-model="user.username" required class="form-control">
                                <div ng-show="myForm.email.$error.email" class="error">¡Correo incorrecto!</div>
                                <div ng-show="myForm.email.$error.required &amp;&amp; myForm.email.$touched" class="error">¡Dato requerido!</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                <label>Contraseña</label>
                                <input type="password" name="pass" ng-model="user.password" required class="form-control">
                                <div ng-show="myForm.pass.$error.required &amp;&amp; myForm.pass.$touched" class="error">¡Dato requerido!</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                <button ng-click="authenticate()" ng-disabled="myForm.$invalid" class="btn btn-success pull-right">Login</button>
                                <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div ng-show="showError" class="alert alert-danger">No logró su acceso, ¡Algún error en los datos suministrados!</div>
                                <div ng-show="showSuccess" class="alert alert-success">Logró su acceso, ¡Se le ofrece una cordial bienvenida!</div>
                            </div>
                        </div>
                    </div>

                </form>
                <br>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success w3-ripple" ng-disabled="error || incomplete" ng-click="saveDanza()" data-dismiss="modal">&#10004; Salvar</button>
            </div>

            </div>
        </div>
    </div>

</body>
</html>
<script>
    var app = angular.module('myApp',[]);

    app.controller('myController',function($scope){

        $scope.user={'username':'','password':''};

        //----- Users json
        var validUsers= [ 
            {'username':'suarezfco65@gmail.com', 'password':'1234'},
            {'username':'nini_ramos17@hotmail.com', 'password':'1234'},
            {'username':'marysabelha22@gmail.com', 'password':'1234'},
            {'username':'Dayi222@gmail.com', 'password':'1234'}
        ];

        $scope.showError = false; // set Error flag
        $scope.showSuccess = false; // set Success Flag

        //------- Authenticate function
        $scope.authenticate = function (){
            var flag= false;

            for(var i in validUsers){ // loop on users array
                if($scope.user.username == validUsers[i].username && $scope.user.password == validUsers[i].password){
                    flag = true;
                    break;
                }
                else{
                    flag = false;
                }				
            }

            //-------- set error or success flags
            if(flag){
                $scope.showError = false;
                $scope.showSuccess = true;
            }
            else{
                $scope.showError = true;
                $scope.showSuccess = false;
            }

        }

    });
</script>
