<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <style>
        .autor      {color: crimson;}
        .cancion    {color: darkslateblue;}
        .desc       {color: green; font-weight: bold}
        .consigna   {color: orangered}
    </style>

</head>
<body ng-app="myApp" ng-controller="userCtrl">
<!--
 <ul>
  <script>
  //  for (var i=8000;i<10500; i++)   document.write('<li>'+i+' -> &#'+i+';</i>');
  </script>
  </ul> 
-->

<div class="w3-container">

<div style="text-align: right"><button class="w3-btn w3-green w3-ripple" ng-click="salvarSesion()">&#9998; Copiar URL de la Sesión</button></div>
<center><audio id="audio" controls></audio></center>

<!--<table class="w3-table w3-bordered">-->
<table class="table table-sm">
<thead class="thead-light">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Evolution</th>
    <th style="text-align: right"><button type="button" class="w3-btn w3-white w3-ripple" ng-click="editUser('new')" data-toggle="modal" data-target="#myModal">&#9997; New User</button></th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="user in users">
    <td>{{ user.fName }}</td>
    <td>{{ user.lName }}</td>
    <td><div class="form-group">
    <select class="form-control" id="evolucion" ng-model="user.evolucion" placeholder="Evolucion">
         <option ng-repeat="v in valores">{{v}}</option>
    </select>
  </div></td>
    <td style="text-align: right"><button type="button" class="w3-btn w3-ripple" ng-click="playMusica(user.cancion)">&#9199; Play</button>
        <button type="button" class="w3-btn w3-ripple" ng-click="editUser(user.id)" data-toggle="modal" data-target="#myModal">&#9998; Edit</button>
        <button type="button" class="w3-btn w3-ripple" ng-click="deleteUser(user.id)">&#9940; Eliminar</button></td>
  </tr>
</tbody>
</table>
<br>


  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
<!--          <h4 class="modal-title">Modal Heading</h4> -->
  <h4 class="modal-title" ng-show="edit">Create New User:</h4>
  <h4 class="modal-title" ng-hide="edit">Edit User:</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            
<form ng-hide="hideform">
    <label>First Name:</label>
    <input class="w3-input w3-border" type="text" ng-model="fName" ng-disabled="!edit" placeholder="First Name">
  <br>
    <label>Last Name:</label>
    <input class="w3-input w3-border" type="text" ng-model="lName" ng-disabled="!edit" placeholder="Last Name">
  <br>
    <label>Password:</label>
    <input class="w3-input w3-border" type="password" ng-model="passw1" placeholder="Password">
  <br>
    <label>Repeat:</label>
    <input class="w3-input w3-border" type="password" ng-model="passw2" placeholder="Repeat Password">
</form>
  <br>
     
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
  <button type="button" class="w3-btn w3-green w3-ripple" ng-disabled="error || incomplete" ng-click="saveUser()" data-dismiss="modal">&#10004; Save Changes</button>
        </div>
        
      </div>
    </div>
  </div>

<div id="grafico"></div>
    
</div>

    
<script>
angular.module('myApp', []).controller('userCtrl', function($scope) {
$scope.id=0;
//$scope.sesion = '';
$scope.fName = '';
$scope.lName = '';
$scope.evolucion = '';
$scope.valores = ['0','1','2','3','4','5','-1','-2','-3','-4','-5'];
$scope.passw1 = '';
$scope.passw2 = '';
$scope.cancion = 'IBFC21 - 12 - Danse de Zorba.mp3'
$scope.users = [
{id:1, fName:'Hege',lName:"Pege", evolucion: '1', cancion:'IBFC21 - 12 - Danse de Zorba.mp3' },
{id:2, fName:'Loreena',lName:"McKennitt", evolucion: '2', cancion:'IBFC21 - 15 - McKennitt, Loreena - All Souls Night.mp3' },
{id:3, fName:'Sal',lName:"Smith", evolucion:'3', cancion:'IBFC21 - 12 - Danse de Zorba.mp3' },
{id:4, fName:'Jack',lName:"Jones", evolucion:'2', cancion:'IBFC21 - 15 - McKennitt, Loreena - All Souls Night.mp3' },
{id:5, fName:'John',lName:"Doe", evolucion:'1', cancion:'IBFC21 - 12 - Danse de Zorba.mp3' },
{id:6, fName:'Peter',lName:"Pan", evolucion:'0', cancion:'IBFC21 - 15 - McKennitt, Loreena - All Souls Night.mp3' }
];
$scope.playMusica   =   function    (cancion)   {
    var obj = document.getElementById("audio");
    obj.src = cancion;
    obj.play();
}
$scope.hideform = true;
$scope.edit = true;
$scope.error = false;
$scope.incomplete = false; 
$scope.editUser = function(id) {
    $scope.hideform = false;
    if (id == 'new') {
        $scope.edit = true;
        $scope.incomplete = true;
        $scope.fName = '';
        $scope.lName = '';
        $scope.evolucion = 0;
        $scope.id = myArrayMax($scope.users)+1;
    } else {
        $scope.id = id;
        $scope.edit = false;
        $scope.fName = $scope.users[id-1].fName;
        $scope.lName = $scope.users[id-1].lName; 
    }
};
$scope.$watch('passw1',function() {$scope.test();});
$scope.$watch('passw2',function() {$scope.test();});
$scope.$watch('fName',function() {$scope.test();});
$scope.$watch('lName',function() {$scope.test();});
$scope.test = function() {
    if ($scope.passw1 !== $scope.passw2) {
        $scope.error = true;
    } else {
        $scope.error = false;
    }
    $scope.incomplete = false;
    if ($scope.edit && (!$scope.fName.length ||
                        !$scope.lName.length ||
                        !$scope.passw1.length || 
                        !$scope.passw2.length)) {
        $scope.incomplete = true;
    }
};

var myArrayMax = function(arr) {
  var len = arr.length;
  var max = 0;
  while (len--) {
    if (arr[len].id > max) {
      max = arr[len].id;
    }
  }
  return max;
}
    
$scope.saveUser =   function()  {
    var user    =   {id:$scope.id, fName:$scope.fName, lName:$scope.lName};
    console.log(user);
    if ($scope.id == (myArrayMax($scope.users)+1)) $scope.users.push(user);
    $scope.hideform = true;    
}

var chkUser = function (u)  {
    return (u.id == $scope.id)
}

$scope.deleteUser =   function(id)  {
    $scope.id = id;
    var pos    =   $scope.users.findIndex(chkUser);
    $scope.users.splice(pos,1);
}

$scope.salvarSesion =   function()  {
    var aux = document.createElement("input");
    var valores = 'mnbvcxzlkjhgfdsapoiuytrewq0987654321MNBVCXZLKJHGFDSAPOIUYTREWQñÑ';
    const inicio = -5;

    aux.setAttribute("value", document.URL+"?data="+JSON.stringify($scope.users));

    document.body.appendChild(aux);

    aux.select();

    document.execCommand("copy");

    document.body.removeChild(aux);
}

  $scope.cat = ['Estado Inicial', 
  		        'Ronda de Integración...', 
                'Marcha Fisiológica', 
                'Coordinación Rítmica...', 
                'Danza de Desplazamiento...', 
                'Sincronización Melódica...',
          		'Intimidad', 
                'Conexión con el Infinito', 
                'Mecer la Vida', 
                'Encuentros', 
                'Grupo Compacto de Mecim...', 
                'Ronda de Activación Pro...'];
  $scope.dat = [0, 1, 2, 3, 2, 1, 0, -1, -2, -3, -1, 0];
    Highcharts.chart('grafico', {
        title: {
            text: 'Tema de la Sesión de Biodanza'
        },

        subtitle: {
            text: 'Realizado por: Equipo B, Dayana, Marisabel, Anneris y Francisco'
        },

        xAxis: {
            categories: $scope.cat
        },
        yAxis: {
            title: {
                text: 'Colinérgico - + - Adrenérgico'
            },
            labels: {
                formatter: function () {
                    return this.value;
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
 
        series: [{
            name: 'nivel',
            marker: {
                symbol: 'square'
            },
            data: $scope.dat
        }]

    });


})
</script>

</body>
</html>

